/* General */

@font-face {
    font-family: 'ThaleahFat';
    src: url('/assets/fonts/ThaleahFat.woff2') format('woff2');
    font-weight: 10;
    font-style: normal;
}

:root {
    --color-background: black;
    --color-text: #ffffff;
    --color-text-title: rgb(255, 187, 0);
    --color-border: #ffffff;

    --fs-title: 3rem;
    --fs-normal: 1.5rem;
}
  
* {
    margin:0;
    padding:0;
}

body {
    background-color: black;
    font-family: 'ThaleahFat', sans-serif; 
    font-size: var(--fs-normal);
    font-weight: 10;
    color: var(--color-text);
}

section {
    min-height: fit-content;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 2rem;
}

.title {
    font-size: var(--fs-title);
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}

/* Logo Section */

#section-logo {
    background-image: url("./assets/gifs/Pato\ em\ Fradelos\ Gif\ Big\ Smaller.gif");
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    align-content: center;
    justify-content: center;
}

.logo-background-image, .logo-foreground-image {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    opacity: 90%;
    height:70vh;
    top:-20%;
}

.logo-background-image {
    position: absolute;
    z-index: 2;
}

.logo-foreground-image {
    position: absolute;
    z-index: 4;
}

.logo-text {
    position: absolute;
    z-index: 3;
    color: #fff;
    opacity: 90%;
    font-size: 3rem;
    top: 11.7%;
}

/* Description Section */

#description-title {
    font-size: var(--fs-title);
    text-align: center;
    padding: 2.5rem;
}

#section-description {
    background-size: cover;
    display: flex;
    align-content: center;
    justify-content: center;
    height: auto;
}

.description {
    padding: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

/* Video Section */

#section-video {
    /* background-image: url("./assets/images/pato em fradelos/Pato\ em\ Fradelos\ Background.png"); */
    background-size: cover;
    display: flex;
    align-content: center;
    justify-content: center;
}

.youtube-video {
    border: 3px solid var(--color-border);
    width: calc(60vw + 2rem);
    max-width: calc(60vw + 2rem);
    height: auto;
    aspect-ratio: 16/10;
}

/* Galery Section */

#section-screenshots {
    display:flex;
    justify-content: center;
    align-items:flex-start;
}

.screenshots-grid {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:1rem;

    justify-content: center;
    align-content: center;
    margin-bottom: 2rem;
    width: max-content;
}

.screenshot {
    max-width: 30vw;
    margin: auto;
    border: 3px solid var(--color-border);
}

/* Software Section */

#section-software {
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    min-height: auto;
}

.software-container {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

/* Developer Section */

#section-developer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.photo {
  height: clamp(140px, 15vw + 40px ,175px);
  object-fit: cover;
  margin: auto 0;
  
  border: 3px solid ;
  border-radius: 50%;
  border-color: var(--color-border)
}

.social-icons {
    display: flex;
    flex-direction: row;
}

.social-item {
    display:flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-item-1 {
    grid-column: span 2;
}
  
.contact-icon {
    cursor: pointer;
    height: 2rem;
}
  